.HomeScreen {
  display: flex;
  flex-direction: column;
  height: 100%;

  > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    > .Token {
      > .PulseIcon {
        width: 45px;
        height: 45px;
      }
    }
  }
}
